.posts{
    flex: 9;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
}


.posts .post{
    width: calc(50% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.3)
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}
@media(max-width:1100px){
    .posts .post{
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.3)
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 30px;
}

.posts h1{
    font-family: "Satisfy", cursive;
}
.posts img {
    border-radius: 10px;
    margin-bottom: 5px;
    height: 300px;
    object-fit: cover;
}

.posts p {
    font-family: "Ubuntu", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 23px;
}
.posts .authorAndDate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.posts .authorAndDate span:nth-child(1){
    font-family: "Spicy Rice", serif;;
    font-weight: bold;
}

/* Scroll animation */
.posts .post{
  transform: translate(-20px);
  opacity:0;
  transition: all 0.5s;
}
.posts .post.active {
    transform: translateX(0px);
    opacity: 1;
}